<!--left sidebar start-->
<div class="left-nav-wrap">
  <div class="left-sidebar">
    <nav class="sidebar-menu">
      <ul id="nav-accordion">
        <li class="sub-menu dcjq-parent-li">
          <a routerLink="/dashboard" class="dcjq-parent">
            <i class=" ti-home"></i>
            <span style="font-family: Georgia, 'Times New Roman', Times, serif;">Tableau de board</span>
          </a>
        </li>
        <li class="nav-title">
          <h5 class="text-uppercase text-success">Administration</h5>
        </li>
        <li class="sub-menu dcjq-parent-li">
          <a href="javascript:;" class="dcjq-parent"><i class=" fa fa-gear"></i>
            <span>Données de références</span><span class="dcjq-icon"></span>
          </a>
          <ul class="sub" style="display: none;">

            <li>
              <a routerLink="/annees" ><i class="fa fa-calendar-o"></i>Années</a>
            </li>

            <li>
              <a routerLink="/mois"><i class="fa fa-calendar-o"></i>Mois</a>
            </li>

            <li>
              <a routerLink="/journee"><i class="fa fa-calendar-o"></i>Jour</a>
            </li>

          </ul>
        </li>
        

        <li class="nav-title">
          <h5 class="text-uppercase">Personnel</h5>
        </li>

        <li>
          <a routerLink="/personnel"><i class="fa fa-user-o"></i>Personnel</a>
        </li>

        <li>
          <a routerLink="/exercice"><i class="fa fa-calendar-o"></i>Exercice Journalier</a>
        </li>

        <li>
          <a routerLink="/detail"><i class="fa fa-clock-o"></i>Affectation Horaire</a>
        </li>

        <li>
          <a routerLink="/suivie"><i class="icon-chart"></i>Suivi & Evaluation</a>
        </li>


        <li>
          <a href="mail-inbox.html" target="_blank">
            <i class="fa fa-circle-o text-danger"></i>
            <span>Mail Inbox</span>
          </a>
        </li>

        <li>
          <a href="email-template/index.html" target="_blank">
            <i class="fa fa-circle-o text-success"></i>
            <span>Support Staff</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-circle-o text-warning"></i>
            <span>A propos</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!--left sidebar end-->
